%h2 Skill Categories
= render 'form'
- @skillcats.each do |skillcat|
  %p
    %strong= skillcat[:name]
    \: #{skillcat[:descr]} : #{link_to 'Delete Skill Category', {:action => 'destroy', :id => skillcat[:id]}, :confirm => 'Delete skill category?'}
= link_to 'Back to Skills', {:controller => 'skills', :action => 'index'}
