= form_for @poster do |f|
  %fieldset#poster-dates
    %legend Date/Time
    %p
      = f.label :pickup
      = f.datetime_select :pickup, default: DateTime.now + 2.days + 10.minutes
      Pickup Date/Time must be at least 48 hours from the submission of this form. Posters available for pickup during DMC hours ONLY!
  %fieldset#poster-patron
    %legend Patron Information
    %p
      = f.label :patron_name
      = f.text_field :patron_name
    %p
      = f.label :patron_phone
      = f.text_field :patron_phone
    %p
      = f.label :patron_dept
      = f.text_field :patron_dept
    %p
      = f.label :patron_email
      = f.text_field :patron_email
    %p
      = f.label :affiliation
      = f.select :affiliation, [['Student', 'student'],['Staff', 'staff'],['DMC Staff', 'dmc']]
  / %fieldset#poster-document
  /  %legend Document Information
  /  #poster-attachment
  /    = render :partial => 'attachments/form', :locals => {:container => @poster}
  %fieldset#poster-print
    %legend Print Information
    %p
      = f.label :print_width
      = f.text_field :print_width
    %p
      = f.label :print_height
      = f.text_field :print_height
    %p
      = label_tag "Print Aspect Ratio"
      = text_field_tag :print_aspect, "", disabled: true
    %p
      = f.label :border
      = f.text_field :border
    %p
      = f.label :paper_type
      = f.select :paper_type, [['Matte', 'matte'],['Glossy', 'glossy']]
    %p
      = label_tag "Paper & Ink Cost"
      = text_field_tag :paper_cost, "3.50", disabled: true
    %p
      = f.label :quantity
      = f.text_field :quantity
  %fieldset#poster-payment
    %legend Payment Information
    %p
      = f.label :payment_type
      = f.select :payment_type, [['J-Cash', 'jcash'], ['Check', 'check'], ['University Budget Code', 'budget']]
    %fieldset#poster-payment-check{ style: "display: none;"}
      %p
        = f.label :payment_reference
        = f.text_field :payment_reference
    %fieldset#poster-payment-budget{ style: "display: none;"}
      %p
        = f.label :budget_number
        = f.text_field :budget_number
      %p
        = f.label :budget_name
        = f.text_field  :budget_name
      %p
        = f.label :budget_email
        = f.text_field :budget_email
      %p
        = f.label :budget_phone
        = f.text_field :budget_phone
    %p
      = f.label :total
      = f.text_field :total, readonly: true
    %p
      = label_tag "Minimum Deposit"
      = text_field_tag :minimum_deposit, "0.00", disabled: true
    %p
      = f.label :deposit
      = f.text_field :deposit
    %p
      = label_tag "Balance Due"
      = text_field_tag :balance_due, "0.00", disabled: true
    %p
      = f.label :notes
      = f.text_area :notes
  = f.submit "Submit Poster Order", id: "poster_submit"
