- render 'nav/nav'
%h2 Wages
%ul
  - @users.each do |user|
    %li
      = user.name
      - if user.wage.present?
        = form_for(user.wage, :url => { :action => "update", :id => user.wage }) do |f|
          = f.text_field :amount
          = submit_tag "Update"
      - else
        = form_for(@wage, :url => { :action => "create", :user_id => user }) do |f|
          = f.text_field :amount
          = submit_tag "Assign"
