%h2 Timesheets
- if @drafts
  %h3 Drafts
  = render 'table', :timesheets => @drafts
%h3 Submitted
= render 'table', :timesheets => @submitted
%h3 Paid
= render 'table', :timesheets => @approved
- if User.current.is_admstaff?
  = form_for :timesheet, :url => { :action => 'new' } do |f|
    %p= f.collection_select :user_id, Group.stustaff.first.users, :id, :name
    %p= submit_tag "New..."
