%tr
  %td= fine.patron_name
  %td= fine.patron_phone
  %td= fine.patron_email
  %td= fine.patron_jhed
  %td= fine.amount
  %td= fine.notes
  - unless current_page?(controller: 'repairs')
    %td
      - if fine.repair.present?
        = link_to fine.repair.id.to_s, repair_path(fine.repair)

