= form_for @printing3d do |f|
  %fieldset#printing3d-dates
    %legend Date/Time
    %p
      = f.label :pickup
      = f.datetime_select :pickup, default: DateTime.now + 2.days + 10.minutes
      Pickup Date/Time must be at least 48 hours from the submission of this form. Printed product available for pickup during DMC hours ONLY!
  %fieldset#printing3d-patron
    %legend Patron Information
    %p
      = f.label :patron_name
      = f.text_field :patron_name
    %p
      = f.label :patron_phone
      = f.text_field :patron_phone
    %p
      = f.label :patron_dept
      = f.text_field :patron_dept
    %p
      = f.label :patron_email
      = f.text_field :patron_email
    %p
      = f.label :affiliation
      = f.select :affiliation, [['Student', 'student'],['Staff', 'staff'],['DMC Staff', 'dmc']]
  %fieldset#printing3d-document
    %legend Document Information
    #printing3d-attachment
      = render :partial => 'attachments/form', :locals => {:container => @printing3d}
  %fieldset#printing3d-print
    %legend Print Information
    %p
      = f.label :print_weight
      = f.text_field :print_weight
    %p
      = f.label :material_type
      = f.select :material_type, [['ABS', 'abs'],['HDPE', 'hdpe'],['PLA', 'pla'],['PVA', 'pva']]
    %p
      = f.label :quantity
      = f.text_field :quantity
  %fieldset#printing3d-payment
    %legend Payment Information
    %p
      = f.label :payment_type
      = f.select :payment_type, [['J-Cash', 'jcash'], ['Check', 'check'], ['University Budget Code', 'budget']]
    %fieldset#printing3d-payment-check{ style: "display: none;"}
      %p
        = f.label :payment_reference
        = f.text_field :payment_reference
    %fieldset#printing3d-payment-budget{ style: "display: none;"}
      %p
        = f.label :budget_number
        = f.text_field :budget_number
      %p
        = f.label :budget_name
        = f.text_field  :budget_name
      %p
        = f.label :budget_email
        = f.text_field :budget_email
      %p
        = f.label :budget_phone
        = f.text_field :budget_phone
    %p
      = f.label :total
      = f.text_field :total, readonly: true
    %p
      = label_tag "Minimum Deposit"
      = text_field_tag :minimum_deposit, "0.00", disabled: true
    %p
      = f.label :deposit
      = f.text_field :deposit
    %p
      = label_tag "Balance Due"
      = text_field_tag :balance_due, "0.00", disabled: true
    %p
      = f.label :notes
      = f.text_area :notes
  = f.submit "Submit 3D Printing Order", id: "printing3d_submit"
