= form_for @booking, :url => { :action => "create" } do |f|
  #booking_attributes{style: "float:left"}
    %p
      = f.label :name
      = f.text_field :name
      = check_box_tag('me')
      Me
    %p
      = f.label :phone
      = f.text_field :phone
    %p
      = f.label :email
      = f.text_field :email
    %p= f.label :project_desc
    %p= f.text_area :project_desc
  #timeslot_selector{style: "float:left"}
    #no_results
    .page
      #results
        = render 'timeslots_results'
    #paginator
      = paginate @times, remote: true
  #timeslot
    #coach_name
    #time
    %ul#skills_list
    %ul#auths_list
  %p= submit_tag "Create"