<table>
    <th>Timeslot ID</th>
    <th>Coach</th>
    <th>Timeslot Date</th>
    <th>Timeslot Start Time</th>
    <th>Timeslot End Time</th>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.id %></td>
        <td><%= timeslot.coach %></td>
	    <td><%= timeslot.slot_date %></td>
        <td><%= timeslot.start_time.strftime("%H:%M:%S") %></td>
        <td><%= timeslot.end_time.strftime("%H:%M:%S") %></td>
      </tr>
    <% end %>
</table>