%table
  %th Timeslot ID
  %th Coach
  %th Timeslot Date
  %th Timeslot Start Time
  %th Timeslot End Time
  - @timeslots.each do |timeslot|
    %tr
      %td= timeslot.id
      %td= timeslot.coach
      %td= timeslot.slot_date
      %td= timeslot.start_time.strftime("%I:%M:%S %p")
      %td= timeslot.end_time.strftime("%I:%M:%S %p")
