%table
  %tr
    %th
    - @coaches.each do |coach|
      %th= coach.firstname
  - @times_by_day.keys.each do |day|
    %tr
      %th= day.strftime('%b %d, %Y')
    - @times_by_day[day].each do |time|
      %tr
        %th= time.strftime('%l:%M %p')
        - @coaches.each do |coach|
          %td
            - slot = @timeslots_by_time[time].detect{|t| t.coach == coach}
            - if slot
              - if slot.open?
                = check_box_tag 'slot_ids[]', slot.id, false, :class => 'timeslot_checkbox'
              - else
                = check_box_tag 'slot_ids[]', slot.id, false, {:disabled => true, :class => 'timeslot_checkbox'}
:javascript
  bindTimeslotCheckbox();