<%= render 'nav/nav' %>
<h2>Your Bookings</h2>
<%= render 'search_form' %>

<!--On orphaned bookings-->
<% unless @orph_bookings.empty? %>
  <div>
    <table class = "list issue">
      <h3>Orphaned Bookings</h3>
      <th><%= link_to 'Patron Name', {:action => 'index', :sort_by => 'name', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Coach', {:action => 'index', :sort_by => 'coach', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Apt Time', {:action => 'index', :sort_by => 'apt_time', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      
      <% @orph_bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.name, {:action => 'show', :id => booking} %></td>
          <td><%= booking.coach %></td>
          <td><%= booking.apt_time.strftime("%D - %H:%M:%S") %></td><!--probably can do with apt_time as well-->
        </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @orph_bookings, :params=>{:from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}}%>
<% end %>

<!--On active bookings-->
<% unless @act_bookings.empty? %>
  <div>
    <table class = "list issue">
      <h3>Active Bookings</h3>
      <th><%= link_to 'Patron Name', {:action => 'index', :sort_by => 'name', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Coach', {:action => 'index', :sort_by => 'coach', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Apt Time', {:action => 'index', :sort_by => 'apt_time', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      
      <% @act_bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.name, {:action => 'show', :id => booking} %></td>
          <td><%= link_to booking.coach, user_path(booking.coach) %></td>
          <td><%= booking.apt_time.strftime("%D - %H:%M:%S") %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @act_bookings, :params=>{:from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}}%>
<% end %>

<!--On cancelled bookings-->
<% unless @canc_bookings.empty? %>
  <div>
    <table class = "list issue">
      <h3>Cancelled Bookings</h3>
      <th><%= link_to 'Patron Name', {:action => 'index', :sort_by => 'name', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Coach', {:action => 'index', :sort_by => 'coach', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      <th><%= link_to 'Apt Time', {:action => 'index', :sort_by => 'apt_time', :from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}} %></th>
      
      <% @canc_bookings.each do |booking| %>
        <tr>
          <td><%= link_to booking.name, {:action => 'show', :id => booking} %></td>
          <td><%= booking.coach %></td>
          <td><%= booking.apt_time.strftime("%D - %H:%M:%S") %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @canc_bookings, :params=>{:from => {:year => @from.year.to_s, :month => @from.month.to_s, :day => @from.day.to_s}}%>
<% end %>

