<h2>New Booking</h2>
<%= error_messages_for :booking %>

<table width = "1000" border = "0">
	<tr>
	<td width="700"><% form_for :booking, @booking, :url => { :action => "create", :slot_ids => @timeslots } do |f| %>
  	<p><%= f.label :name %> <%= f.text_field :name %></p>
  	<p><%= f.label :phone %> <%= f.text_field :phone %></p>
  	<p><%= f.label :email %> <%= f.text_field :email %></p>
  	<p><%= f.label :project_desc %></p><p><%= f.text_area :project_desc %></p>
  	<p><%= submit_tag "Create" %></p>
	<% end %>
	</td>
	<td width="300"><%= render 'show_timeslots' %>
	</td>
	</tr>
</table>