%h2 New Booking
= error_messages_for @booking
%table{:border => "0", :width => "1000"}
  %tr
    %td{:width => "700"}
      = render 'form'
    %td{:width => "300"}
      #no_results
      #results
        = render 'show_timeslots'
      #paginator
        = paginate @timeslots, remote: true
= render 'timeslots_search_form'
%hr
= link_to 'Return to index...', {:action => 'index'}
