%h2
  Booking #{@booking.id}
%table
  %tr
    %td
      %table
        %tr
          %th Patron/Staff Name
          %td= @booking.name
        %tr
          %th Lab Coach
          %td
            = @booking.coach.name
            \- Skills: #{@booking.coach.skills.map(&:name).join(", ")}
        %tr
          %th Booked By
          %td= @booking.author.name
        %tr
          %th Phone
          %td= @booking.phone
        %tr
          %th email
          %td= @booking.email
        %tr
          %th Project Description
          %td= @booking.project_desc
    %td
      %ul
        - @booking.timeslots.each do |slot|
          %li= slot.start_time.strftime("%D - %T")
= button_to 'Edit', {:action => :edit, :id => @booking}, :method => :get
= button_to 'Cancel', {:action => :cancel, :id => @booking}, method: 'put', :confirm => "Do you really want to cancel this booking?"
%hr/
= link_to 'Return to index...', {:action => 'index'}

- content_for :header_tags do
  = stylesheet_link_tag 'bookings', :plugin => 'redmine_scheduler'