<h3>Currently Booked</h3>
<table>
  <tr>
    <th><%= link_to 'Date & Time', {:action => 'index', :sort_col => 0} %></th>
    <th><%= link_to 'Staff Member', {:action => 'index', :sort_col => 1} %></th>
    <th><%= link_to 'Patron', {:action => 'index', :sort_col => 2} %></th>
    <th><%= link_to 'Shift', {:action => 'index', :sort_col => 3} %></th>
    <th>Actions</th>
  </tr>
  <% @booked.each do |booking| %>
	  <tr>
		<td><%= format_time(booking.apt_time) %></td>
		<td><%= booking.timeslot.coach.firstname %></td>
		<td><%= booking.name %></td>
		<td><%= booking.timeslot.issue_id %></td>
		<td><%= link_to 'Details', {:action => 'show', :booking_id => booking[:id]} %> - <%= link_to 'Cancel', {:action => 'cancel', :booking_id => booking[:id]}, :confirm => 'Are you sure? Patron will not be notified.' %></td>
	  </tr>
  <% end %>
</table>
<hr>