<h2>Manage Lab Coaching</h2>
<h3>All Lab Coach Shifts:</h3>
<br>
<ul>
	<% @allshifts.each do |shift| %>
		<li><%= format_date(shift.start_date) %> - <%= shift.assigned_to.firstname %> - <%= shift.subject %></li>
	    <ul>
          <% shift.timeslots.each do |slot| %>
		    <li><%= format_time(slot.start_time) %> - <%= format_time(slot.end_time) %></li>
	      <% end %>
	    </ul>
	<% end %>
</ul>
