<h2>Manage#index</h2>
<h3>All Lab Coach Shifts:</h3>
<br>
<ul>
	<% @allshifts.each do |shift| %>
		<li>ID:<%= shift[:id] %> - <%= User.find(shift[:assigned_to_id]) %> - <%= shift[:subject] %></li>
	<% end %>
</ul>
<br>
<h3>All Timeslots</h3>
<ul>
	<% @alltimeslots.each do |timeslot| %>
		<li>ID:<%= timeslot[:id] %> - <%= timeslot[:slot_time] %></li>
	<% end %>
</ul>
<br>
<h3>All Timeslots</h3>
<ul>
	<% @unassigned_timeslots.each do |timeslot| %>
		<li>ID:<%= timeslot[:id] %> - <%= timeslot[:slot_time] %></li>
	<% end %>
</ul>
