<%= render 'nav'%>
<table>
  <tr>
    <th>Booking #:</th><td><%= @booking.id %></td>
  </tr>

  <tr>
    <th>Time:</th><td><%= format_time(@booking.apt_time) %></td>
  </tr>

	<% unless @booking.timeslot_id.nil? %>
	  <tr>
	    <th>Staff Member:</th><td><%= @booking.timeslot.coach.firstname %></td>
	  </tr>
	<% end %>

  <tr>
	<th>Patron Name:</th><td><%= @booking.name %></td>
  </tr>

  <tr>
	<th>Patron Phone:</th><td><%= @booking.phone %></td>
  </tr>

  <tr>
	<th>Patron Email:</th><td><%= @booking.email %></td>
  </tr>

  <tr>
	<th>Project Description:</th><td><%= @booking.project_desc %></td>
  </tr>
</table>
<br>
<%= link_to 'Back to List', {:action => 'index'} %> | <%= (link_to 'Cancel', {:action => 'cancel', :booking_id => @booking[:id]}, :confirm => 'Are you sure? Patron will not be notified.') unless @booking.cancelled? %>