<h1>Timesheet display</h1>

	<h2>Your Submitted Timesheets</h2> 
	<table> 	
		<tr> 
			<th>Employee id</th>
			<th>Name</th> 
			<th>Pay period</th>
			<th>Submitted?</th> 
			<th>Paid?</th>
			<th>Wage</th>
			<th>Edit timesheet</th>
			<th>Delete</th>
			<th>Print</th>	
		</tr> 

	<% for timesheet in @timesheets %> 
		<tr> 
			<td><%=h timesheet.user_id %></td>
			<td><%=h User.find(timesheet.user_id).firstname %></td> 
			<td><%=h timesheet.pay_period.strftime ("%D") %></td> 
			<td><%=h (timesheet.submitted ? timesheet.submitted : "Not Submitted") %> </td>
			<td><%=h (timesheet.paid ? timesheet.paid : "Not Paid") %></td>
			<td><%=h User.find(timesheet.user_id).wage.amount %></td>
			<td><%=h link_to 'Edit', {:action => 'edit', :weekof => timesheet.pay_period} %></td>
			<td><%=h link_to 'Delete', {:action => 'delete'} %></td>
			<td><%=h link_to 'Print', {:action => 'print', :weekof => timesheet.pay_period} %></td>
		</tr> 
	<% end %> 
	</table> 
		<%= button_to "New Timesheet", {:action => 'new', :pay_period => Time.current} %>
		<%= button_to "Testing", {:action => 'show'}%>
	<br /> 