<%= render 'nav' %>
<h2>Your Timecards</h2>

<% form_tag do %>
<%= select_year Date.new(@year.to_i) %>
<%= select_tag(:tweek, options_for_select(@weeks, @weeks[@tweek.to_i - 1])) %>
<%= submit_tag "Update" %>
<% end %>
<br>

<ul>
	<% count = 0 %>
	<% 7.times do %>
	  <% day = (@weekof + count.days) %>
	  <% ents = @entsbyday[count] %>
	  <li><%= day.strftime("%A - %D") %><!--<%= ents.inject(0) {|sum, x| sum + x.hours} %>--></li>
	  <ul>
		<% ents.each do |ent| %>
		<li>
			<%= (TimeEntryActivity.all.select {|t| t.id == ent.activity_id })[0].name %>
                        <%= ": " %>
			<% if ent.comments != "" %><%= ent.comments %><% else %>no comment<% end %>
			<%= " - " %>
			<%= ent.hours %>
                	<%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => ent, :project_id => nil},
			                                       :title => l(:button_edit) %>
			<%= link_to image_tag('delete.png'), {:controller => 'timelog', :action => 'destroy', :id => ent, :project_id => nil},
			                                         :confirm => l(:text_are_you_sure),
			                                         :method => :delete,
			                                         :title => l(:button_delete) %>
	  	</li>
          <% end %>
	  </ul>
	  <% count += 1 %>
	<% end %>
</ul>
<br>
<h3>TOTAL HOURS WORKED: <%= @totalhours %></h3>
</br>
<%= button_to "Generate Timecard", {:controller => 'manage', :action => 'generate_timesheet', :weekof => @weekof} %>
</br>
</br>

<p>Logging extra time (events/training)?</p>
<% nowtraining = @work_goals %>
<% allevents = @work_events %>
<table class="list issues">
	<thead>
		<tr>
			<th>Area</th>
			<th>Description</th>
			<th>Due</th>
			<th>Log Time</th>
		</tr>
	</thead>
	<% nowtraining.each do |task| %>
		<tr>
			<td><%= link_to task.project, {:controller => 'projects', :action => 'show', :id => task.project[:id] } %></td>
			<td><%= link_to task.subject, {:controller => 'issues', :action => 'show', :id => task[:id] } %></td>
			<td><%= link_to task.due_date, {:controller => 'issues', :action => 'show', :id => task[:id] } unless task.due_date.nil? %></td>
			<td><%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => task[:id]} %></td>
		</tr>
	<% end %>
	<% count = 0 %>
	<% 7.times do %>
        	<% day = (@weekof + count.days) %>
        	<% alleventstoday = allevents.select {|i| (i.start_date == day) } %>
        	<% alleventstoday.each do |goal| %>
			<tr>
				<td><%= link_to goal.project, {:controller => 'projects', :action => 'show', id => goal.project[:id] } %></td>
				<td><%= link_to goal.subject, {:controller => 'issues', :action => 'show', :id => goal[:id] } %></td>
				<td><%= link_to goal.due_date, {:controller => 'issues', :action => 'show', :id => goal[:id] } unless goal.due_date.nil? %></td>
				<td><%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => goal[:id]} %></td>
			</tr>
		<% end %>
		<% count += 1 %>
	<% end %>
</table>
<!--<% count = 0 %>
<% 7.times do %>
	<% day = (@weekof + count.days) %>
	<% alleventstoday = allevents.select {|i| (i.start_date == day) } %>
	<% alleventstoday.each do |event| %>
		<li>EVENT: <%= link_to event.subject, {:controller => 'issues', :action => 'show', :id => event[:id]} %> - <%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => event[:id], :time_entry => {:spent_on => event[:start_date]} } %></li>
	<% end %>
	<% count += 1 %>
<% end %>

<% nowtraining.each do |training| %>
	<li>TRAINING: <%= link_to training.subject, {:controller => 'issues', :action => 'show', :id=>training[:id]} %> - <%= link_to image_tag('time_add.png'), {:controller => 'timelong', :action => 'new', :issue_id => training[:id], :time_entry => {:spent_on => training[:start_date]} } %></li>
<% end %>
-->
</br>

<p>Missing a shift?</p>
<% allshifts = @work_shifts %>
<% count = 0 %>
<table class="list issues">
<% 7.times do %>
	<% day = (@weekof + count.days) %>
	<tr>
		<th><%= day.strftime("%A") %></th>
		<th>Shift</th>
		<th>Log Time</th>
	</tr>
	<% allshiftstoday = allshifts.select {|i| (i.start_date == day) } %>
	<% allshiftstoday.each do |shift| %>
		<tr>
			<td><%= link_to shift.subject, {:controller => 'issues', :action => 'show', :id => shift[:id] } %></td>
			<td><%= shift.tracker.name %></td>
			<td><%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => shift[:id]} %></td>
		</tr>
			<!--<li><%= shift.tracker.name %> : <%= link_to shift.subject, {:controller => 'issues', :action => 'show', :id => shift[:id]} %> - <%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => shift[:id], :time_entry => {:spent_on => shift[:start_date]} } %></li>-->
		<% end %>
	<% count += 1 %>
<% end %>
</table>
<!--</ul>-->
