<%= render 'nav/nav' %>
<h1>Grab Some Timeslots</h1>

<p>Issue: <%= @issue.id.to_s + ':' + @issue.subject %></p>

<p>
<% form_tag do %>
<p>From: <%= select_date @from, :prefix => :from %></p>
<p>To: <%= select_date @to, :prefix => :to %></p>
<%= submit_tag "Update" %>
<% end %>
</p>

<% @dates.each do |date| %>
  <div class="box tabular">
	  <h5><%= date.to_s %></h5>
	  <ul>
		  <% @slothash[date].each do |slot| %>
		  <li><%= slot.start_time.to_s %></li>
		  <% end %>
	  </ul>
  </div>
<% end %>
