%h1 Grab Some Timeslots
%p
  Issue: #{@issue.id.to_s + ':' + @issue.subject}
%p
  - form_tag do
    %p
      From: #{select_date @from, :prefix => :from}
    %p
      To: #{select_date @to, :prefix => :to}
    = submit_tag "Update"
- @dates.each do |date|
  .box.tabular
    %h5= date.to_s
    %ul
      - @slothash[date].each do |slot|
        %li= slot.start_time.to_s
