<h1>My Staff</h1>

<% @workgroups.each do |workgroup| %>
<div>
	<h3><%= workgroup.name %> - <%= link_to "Edit Membership...", {:controller => 'groups', :action => 'edit', :id => workgroup[:id], :tab => 'users'} %></h3>
	<% workgroup.users.each do |user| %>
	  <div class="box tabular">
		  <h4><%= link_to user.name, :controller => 'activities', :action => 'index', :id => nil, :user_id => user, :from => (Date.today - 2.weeks) %></h4>
          <%= render :partial => 'time', :locals => { :user => user, :hours => @hours, :weeks => @weeks } %>
          <%= render :partial => 'tasks', :locals => { :user => user } %>
          <%= render :partial => 'goals', :locals => { :user => user } %>
	  </div>
	<% end %>
</div>
<% end %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'command', :plugin => 'redmine_scheduler' %>
<% end %>
