<h2>Skills</h2>

<%= render 'form' %>

<% @skills.each do |skill| %>
  <p>
  <%= skill[:name] %> : <%= link_to 'Delete Skill', {:action => 'destroy', :id => skill[:id]}, :confirm => 'Delete skill?' %>
  </p>
<% end %>

<h3>Skill Assignments</h3>

<% @users.each do |user| %>
  <p>
  <b><%= user[:login] %></b>
    <% user.skills.each do |skill| %>
      <%= skill[:name] %>,
    <% end %>
  <%= link_to 'Edit', {:action => 'assign', :user_id => user[:id]} %>
  </p>
<% end %>
