%h1 Skills

= render 'form'
= link_to 'Edit Categories', skillcats_path
- Skillcat.all.each do |skillcat|
  %h2= skillcat.name
  %ul
    - skillcat.skills.each do |skill|
      %li
        = skill.name + ":"
        = link_to 'Edit', edit_skill_path(skill)
        = link_to 'Delete', {:action => 'destroy', :id => skill.id}, :confirm => 'Delete skill? All associated users will lose it.'
