<h2>Skills</h2>

<%= render 'form' %> <%= link_to 'Edit Skill Categories', {:controller => 'skillcats', :action => 'index'} %>

<% @skills.each do |skill| %>
  <p>
  <strong><%= skill.name %></strong> ( <%= skill.skillcat.name %> ) : <%= link_to 'Edit', {:action => 'edit', :id => skill[:id]} %>, <%= link_to 'Delete Skill', {:action => 'destroy', :id => skill[:id]}, :confirm => 'Delete skill? All associated users will lose it.' %>
  </p>
<% end %>

<h3>Skill Assignments</h3>

<% @users.each do |user| %>
  <p>
  <b><%= user[:login] %></b>
    <% user.skills.each do |skill| %>
      <%= skill[:name] %>,
    <% end %>
  <%= link_to 'Edit', {:action => 'assign', :user_id => user[:id]} %>
  </p>
<% end %>
