= form_tag({}, method: 'get', remote: true, update: ['results','search_form']) do
  %fieldset
    %p
      = label_tag :from, 'from'
      = select_datetime @from, :prefix => :from
    %p
      = label_tag :until, 'until'
      = select_datetime @until, :prefix => :until
    %fieldset#coaches.collapsible.collapsed
      %legend{onclick: "toggleFieldset(this);"}
        Coaches
      %div{style: "display: none;"}
        %table
          - @all_coaches.each do |coach|
            %tr
              %td
                = label_tag coach.name
              %td
                = check_box_tag 'coach_ids[]', coach.id, @coaches.include?(coach) ? true : false, :class => 'coaches_checkbox'
        = button_tag "Select All/None", :type => 'button', :onclick => "toggleCheckboxesBySelector($('.coaches_checkbox'));"
    %fieldset#skills.collapsible.collapsed
      %legend{onclick: "toggleFieldset(this);"}
        Skills
      %div{style: "display: none;"}
        %table
          - @all_skills_by_skillcat.keys.each do |skillcat|
            %tr
              %th
                = skillcat.name
            - @all_skills_by_skillcat[skillcat].each do |skill|
              %tr
                %td
                  = label_tag skill.name
                %td
                  = check_box_tag 'skill_ids[]', skill.id, @skills.include?(skill) ? true : false, :class => 'skills_checkbox'
        = button_tag "Select All/None", :type => 'button', :onclick => "toggleCheckboxesBySelector($('.skills_checkbox'));"
    %p
      = submit_tag "Search"
