%table.list
  %tr
    %th
    %th Staff Name
    %th Week Of
    %th Notes
    %th Hours
    %th Submitted At
    %th Approved At
  - if @submitted.present?
    %tr
      %th{rowspan: "#{(@submitted.count + 1).to_s}"} Submitted
    = render @submitted
    - if @submitted.num_pages > 1
      %tr
        %th.paginator{colspan: "7"}= paginate @submitted, remote: true, param_name: 'submitted_page'
  - if @approved.present?
    %tr
      %th{rowspan: "#{(@approved.count + 1).to_s}"} Approved
    = render @approved
    - if @approved.num_pages > 1
      %tr
        %th.paginator{colspan: "7"}= paginate @approved, remote: true, param_name: 'approved_page'
  - if @rejected.present?
    %tr
      %th{rowspan: "#{(@rejected.count + 1).to_s}"} Rejected
    = render @rejected
    - if @rejected.num_pages > 1
      %tr
        %th.paginator{colspan: "7"}= paginate @rejected, remote: true, param_name: 'rejected_page'