%tr
  %td= timesheet.user.name
  %td= timesheet.weekof.to_date.to_s
  %td= timesheet.notes.truncate(50) if timesheet.notes
  %td= timesheet.time_entries.sum(&:hours) unless timesheet.time_entries.empty?
  %td= timesheet.submitted.to_s if timesheet.submitted
  %td= timesheet.approved.to_s if timesheet.approved
  %td= render 'actions'