<%= render 'manage/nav' %>

<h3>Search for the Employee</h3>

<%= form_tag :action => 'admin_index', :method => 'get' %>
	<p>
		<%= text_field_tag :search, params[:search] %>
<!-- 		<%= submit_tag "Search", :name => nil %>
 -->	</p>


<!--<%= form_tag({:action => 'admin_index'}, :class => "nifty_form") %>-->

<!--<%= select_tag 'employee_selected', options_for_select(User.all) %>-->

<br><h3>Select week range: </h3></br>
<h4>From </h4><%= select_tag :start_week_filter, options_for_select(@weeks, params[:start_week_filter]) %>
<h4>To</h4>
<%= select_tag :end_week_filter, options_for_select (@weeks, params[:end_week_filter]) %><!--second parameter is important!!-->

<table>
<tr>
	<td>
  	<br><%= check_box_tag 'submit_checkbox', 'submitted', false %><%= label_tag "submitted timesheets" %></br>
  	<br><%= check_box_tag 'paid_checkbox', 'paid', false %><%= label_tag "paid timesheets" %></br>
  	<br><%= check_box_tag 'view_all_ts', 'view all timesheets in the selected period', false %><%= label_tag "view all timesheets" %></br>
	</td>
</tr>
</table>
<%= submit_tag 'Update' %>

<% unless @display_setting == 0%>
	<br></br>
	<h4>Submitted/Pending Timesheets</h4>
	<table>
		<tr>
			<th>Time of Submission</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Edit</th>
			<th>Resubmit</th>
			<th>Print</th>
			<th>Decorate!</th> <!--just for fun-->
		</tr>

		<% for submitted_ts in @submitted_ts %>
		<tr>
			<td><%=h submitted_ts.submitted %></td>
			<td><%=h submitted_ts.weekof.strftime("%D") %></td>
			<% {:weekof => submitted_ts.weekof, :employee_selected => submitted_ts.user_id} %>
			<td><%= @hours_total %></td>
			<td><%= link_to 'Edit', {:action => 'edit'} %></td>
			<td>Coming soon!</td>
			<td><%= link_to 'Print', {:action => 'print',:current_ts_id => submitted_ts.id, :weekof => submitted_ts.weekof} %></td>
			<td>Coming soon!</td>
		</tr>
		<%end%>
	</table>

	<br></br>
	<h4>Submitted/Paid Timesheets</h4>
	<table>
		<tr>
			<th>Date Approved/Paid</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Print</th>
		</tr>

		<% for paid_ts in @paid_ts %>
		<tr>
			<td><%=h paid_ts.paid.strftime("%D") %></td>
			<td><%=h paid_ts.weekof.strftime("%D") %></td>
			<% {:weekof => paid_ts.weekof, :employee_selected => submitted_ts.user_id} %>
			<td><%= @hours_total %></td>
			<td><%= link_to 'Print', {:action => 'print', :current_ts_id => paid_ts.id, :weekof => paid_ts.weekof} %></td>
		</tr>
		<%end%>
	</table>
<%end%>
<br></br><p>Version drafted by Guannan, please direct all questions to gren3@jhu.edu</p>
