<h2>Timesheets edit</h2>

<br>
<ul>
	<% (0..6).each do |i|%>
	  <% day = (@weekof + i.days) %>
	  <% entries = @entries_by_day[i] %>
		<li>
		<%= day.strftime("%A - %D") %>
		<br><h6>Time spent: 
	  	<%= entries.inject(0) {|sum, x| sum + x.hours} %></h6></br>
	  	<%= form_tag ({:action => 'update', :weekof => @weekof, :day => day}, :class => "nifty_form") %>
			<p>
			<%= text_field_tag :changed_time, params[:changed_time] %>
			<%= submit_tag "Change" %>
			</p>
		<br></br>
		</li>
	<%end%>
</ul>
</br>