<%= render 'manage/nav'%>
<h1>Timesheet display for <%= User.current.firstname %></h1>
	<br></br>	
	<h4>Submitted/Pending Timesheets</h4>
	<table>
		<tr>
			<th>Time of Submission</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Edit</th>
			<th>Resubmit</th>
			<th>Print</th>
			<th>Decorate!</th> <!--just for fun-->
		</tr>

		<% @submitted_ts.each do |submitted_ts| %>
		<tr>
			<td><%=h submitted_ts.submitted %></td>
			<td><%=h submitted_ts.weekof.strftime("%D") %></td>
			<td><%=h submitted_ts.find_total_hours.to_s %></td>
			<td><%= link_to 'Edit', {:action => 'edit', :weekof => submitted_ts.weekof} %></td>
			<td>Coming soon!</td>
			<td><%= link_to 'Print', {:action => 'print', :current_ts_id => submitted_ts.id, :weekof => submitted_ts.weekof} %></td>
			<td>Coming soon!</td>
		</tr>
		<%end%>
	</table>
	<%= will_paginate @submitted_ts, :param_name => 'submitted_ts_page' %>

	<br></br>
	<h4>Submitted/Paid Timesheets</h4>
	<table>
		<tr>
			<th>Date Approved/Paid</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Print</th>
		</tr>

		<% @paid_ts.each do |paid_ts| %>
		<tr>
			<td><%=h paid_ts.paid.strftime("%D") %></td>
			<td><%=h paid_ts.weekof.strftime("%D") %></td>
			<td><%=h paid_ts.find_total_hours.to_s %></td>
			<td><%= link_to 'Print', {:action => 'print', :current_ts_id => paid_ts.id, :weekof => paid_ts.weekof} %></td>
		</tr>
		<%end%>
	</table>
	<%= will_paginate @paid_ts, :param_name => 'paid_ts_page' %>

	<br></br>
	<h4>Not Yet Submitted Timesheets</h4>
	<table>
		<tr>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Edit</th>
			<th>Submit</th>
			<th>Print</th>
			<th>Delete</th>
		</tr>

		<% @not_submitted_ts.each do |not_submitted_ts| %>
		<tr>
			<td><%=h not_submitted_ts.weekof.strftime("%D") %></td>
			<td><%=h not_submitted_ts.find_total_hours.to_s %></td>
			<td><%= link_to 'Edit', {:action => 'edit', :timesheet_id => not_submitted_ts.id} %></td>
			<td><%= link_to 'Submit', {:action => 'submit', :timesheet => not_submitted_ts} %></td>
			<td><%= link_to 'Print', {:action => 'print', :current_ts_id => not_submitted_ts.id, :weekof => not_submitted_ts.weekof} %></td>
			<td><%= link_to 'Delete', {:action => 'delete', :current_ts => not_submitted_ts} %></td>
		</tr>
		<%end%>
	</table>
	<%= will_paginate @not_submitted_ts, :param_name => 'not_submitted_ts_page' %>
	<br></br>
	<%= link_to "Create New Timesheet", {:action => 'employee_new'} %>

	<br></br><p>Version drafted by Guannan, please direct all questions to gren3@jhu.edu</p>
