<%= render 'nav/nav' %>
<h2>Timesheets</h2>

<% if @drafts %>
  <h3>Drafts</h3>
  <%= render 'table', :timesheets => @drafts %>
<% end %>

<h3>Printed</h3>
<%= render 'table', :timesheets => @printed %>
<h3>Submitted</h3>
<%= render 'table', :timesheets => @submitted %>
<h3>Paid</h3>
<%= render 'table', :timesheets => @paid %>
