<%= render 'nav/nav' %>
<h2>Timesheets</h2>

<% if @drafts %>
  <h3>Drafts</h3>
  <%= render 'table', :timesheets => @drafts %>
<% end %>

<h3>Submitted</h3>
<%= render 'table', :timesheets => @submitted %>
<h3>Paid</h3>
<%= render 'table', :timesheets => @approved %>

<% if User.current.is_admstaff? %>
  <% form_for :timesheet, @timesheet, :url => { :action => 'new' } do |f| %>
  <p><%= f.collection_select :user_id, Group.stustaff.first.users, :id, :name %></p>
  <p><%= submit_tag "New..."%></p>
  <% end %>
<% end %>

<%= link_to 'Testing', {:action => 'index'}, :confirm => "what are you doing?" %>