<%= render 'nav/nav'%>

<h2>New Timesheet for <%= @user.name %></h2>
<% form_tag do %>
    <%= select_year(@year_selected, :start_year => Time.current.year - 1, :end_year => Time.current.year + 1) %>
    <%= select_tag :cweek, options_for_select(@weeks, @cweek - 1) %> <!--Defaults to the week before-->
    <%= hidden_field_tag 'user', @user.id.to_s %>
    <%= submit_tag "Update"%>
<%end%>

<br></br>
<h2>New Timesheet (changed to only 1 dropdown) for <%= @user.name %></h2>
  <% form_tag do %>
    <%= select_tag :week_sel, options_for_select(@past_weeks) %> 
    <%= hidden_field_tag 'user', @user.id.to_s %>
    <%= submit_tag "Update"%>
<%end%>

<br>
  <%= render 'entries_shifts_by_weekdays' %> 
<br>
  <%= render 'tasks', :tasks => @tasks %>
<br>
  <%= render 'goals', :goals => @goals %>
<br>

<script>
function directsubmitcheck(){
  if (document.getElementById("creatensubmit").checked == true){
    //alert('checcked')
    if (confirm('Are you sure you want to directly submit your timesheet?') == false){
      document.getElementById("creatensubmit").checked = false  //if cancel is checked a timesheet draft is then created
    }
  }else{
    
    //alert('not checked')  
  }
}
</script>
<% form_for :timesheet, @timesheet, :url => {:action => 'create', :weekof => @cweek, :user => @user.id} do |f| %>
  <p><%= check_box_tag 'creatensubmit','yes'%><%= label_tag "Immediate Submission, note: there will be no draft created in this case" %></p>
  <p><%= submit_tag "Create", :onclick => "return directsubmitcheck();"%></p>
<% end %>
