<%= render 'nav/nav'%>

<h2>New Timesheet for <%= @user.name %></h2>
<% form_tag do %>
    <%= select_year(@year_selected, :start_year => Time.current.year - 1, :end_year => Time.current.year + 1) %>
    <%= select_tag :cweek, options_for_select(@weeks, @cweek - 1) %> <!--Defaults to the week before-->
    <%= hidden_field_tag 'user', @user.id.to_s %>
    <%= submit_tag "Update"%>
<%end%>

<br>
  <%= render 'weeklist', :entries => @entries %>
<br>
  <%= render 'entries_by_day' %> 
<br>
  <%= render 'shifts', { :fdshifts => @fdshifts, :lcshifts => @lcshifts } %>
<br>
  <%= render 'tasks', :tasks => @tasks %>
<br>
  <%= render 'goals', :goals => @goals %>
<br>
<% form_for :timesheet, @timesheet, :url => { :action => 'create', :weekof => @cweek, :user => @user.id } do |f| %>
  <p><%= submit_tag "Create"%></p>
<% end %>
