<h2>New Timesheet for <%= @user.firstname %></h2>

<!--
<p>name: <%= @user.firstname %></p>
<p>wage: <%= @user.wage.amount.to_s %></p>
<p>monday: <%= @time_entries.ondate(@pay_period).inject(0) {|sum,t| sum + t.hours} %></p>
<p>tuesday: <%= @time_entries.ondate(@pay_period + 1).inject(0) {|sum,t| sum + t.hours} %></p>
<p>wednesday: <%= @time_entries.ondate(@pay_period + 2).inject(0) {|sum,t| sum + t.hours} %></p>
<p>thursday: <%= @time_entries.ondate(@pay_period + 3).inject(0) {|sum,t| sum + t.hours} %></p>
<p>friday: <%= @time_entries.ondate(@pay_period + 4).inject(0) {|sum,t| sum + t.hours} %></p>
<p>saturday: <%= @time_entries.ondate(@pay_period + 5).inject(0) {|sum,t| sum + t.hours} %></p>
<p>sunday: <%= @time_entries.ondate(@pay_period + 6).inject(0) {|sum,t| sum + t.hours} %></p>

<p>Hey! this page isn't really doing anything right now, except showing how you could pass values in.</p>-->

<% form_for(@timesheet) do |f| %> 
	<%= f.error_messages %> 

	<p> 
		<%= f.label :name %><br /> 
		<%= f.text_field :name %> 
	</p> 

	<p> 
		<%= f.label :title %><br /> 
		<%= f.text_field :title %> 
	</p> 

	<p> 
		<%= f.label :content %><br /> 
		<%= f.text_area :content %> 
	</p> 

	<p> 
		<%= f.submit "Create" %> 
	</p> 

<% end %> 

<%= link_to 'Back', timesheets_path %>