%h3 Timesheet for #{@timesheet.user.name} : Week of Monday, #{@timesheet.weekof.strftime('%b %d, %Y')}

- days_in_week.each do |day|
  .box.day
    .day-left
      %h3= day.strftime('%A, %b %d, %Y')
      .time-entries-on-day.box
        - if @time_entries.ondate(day).empty?
          %p No entries for this day.
        - else
          %h4 Time Entries
          %table.list
            %tr
              %th ID
              %th Project
              %th Shift/Issue
              %th Hours
              %th Activity
              %th Comments
              - if controller.action_name == ("new" || "edit")
                %th Actions
            - @time_entries.ondate(day).each do |entry|
              = render 'timesheets/time_entries/time_entry', time_entry: entry
    .day-right
      .hours-on-day
        %h3= @time_entries.ondate(day).sum(&:hours).to_s + " Hours"
.timesheet-metadata
  - if @timesheet.submitted?
    %h3 Submitted: #{@timesheet.submitted}
  - if @timesheet.print_date?
    %h3 Last Printed: #{@timesheet.print_date}
  - if @timesheet.approved?
    %h3 Approved: #{@timesheet.approved}
  - if @timesheet.notes?
    %p.box= @timesheet.notes
.total-hours
  %h3 Total: #{@time_entries.sum(&:hours).to_s} Hours
  %h3 Wage: $#{@timesheet.user.wage.amount.to_s}0/hr

- content_for :header_tags do
  = stylesheet_link_tag 'timesheets', :plugin => 'redmine_scheduler'
  = javascript_include_tag 'redmine_scheduler', :plugin => 'redmine_scheduler'
