<div>
  <table class="list issues">
    <% total = 0 %>
    <h3>Shifts and Time Entries Sorted by Day</h3>

    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Task</th>
      <th># Hours Worked</th>
      <!--<th>Edit</th>-->
    </tr>

    <% (1..7).each do |day| %><!--can't be 0 to 6, Date.commercial doesn't take 0-->
    <% entries_by_day = @timesheet.entries_for_week.group_by(&:spent_on) %>
      <% if !entries_by_day[Date.commercial(@timesheet.weekof.year, @timesheet.weekof.to_date.cweek, day)].nil? %>
        <% entries_by_day[Date.commercial(@timesheet.weekof.year, @timesheet.weekof.to_date.cweek, day)].each do |entry| %>
          <tr>
            <td><%= Date.commercial(@timesheet.weekof.year, @timesheet.weekof.to_date.cweek, day).strftime("%A")  %></td>
            <td><%= entry.spent_on %></td>
            <td><%= entry.activity %></td>
            <td><%= entry.hours %></td>
            <% total = total + entry.hours %>
            <!--<td><%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => entry, :project_id => nil} %></td>-->
          </tr>
        <%end%>
      <tr><td></td><td></td><td></td><td></td></tr>
      <%end%>
    <%end%>
    <tr><td></td><td></td><td>Total # of Hours Worked:</td><td><%= total %></td><tr>
    <tr><td></td><td></td><td>
      <% if @timesheet.approved.present? %> 
        Amount Paid
      <% else %> 
        Wage
      <% end %>
    </td><td>$
      <% if @timesheet.approved.present? %>
        <%= @timesheet.approve_time_wage.to_s %>
      <% else %>
        <%= @timesheet.user.wage.amount.to_s %>
      <% end %>
  </table>
</div>

<!--<%= render 'weeklist', :entries => @timesheet.time_entries %>-->
