<%= render 'manage/nav' %>

<%= form_tag({:action => "manager_index"}, :class => "nifty_form") %>

<%= select_tag 'employee_of_interest', options_for_select(User.all) %><!--can substitute all_user_names for User.all-->
<%= submit_tag 'Update' %>

<%= form_tag({:action => "manager_index"}, :class => "nifty_form") %>
<table>
<tr>

	<td>
  	<br><%= check_box_tag 'submit_checkbox', 'submitted', false %><%= label_tag "submitted timesheets" %></br>
  	<br><%= check_box_tag 'paid_checkbox', 'paid', false %><%= label_tag "paid timesheets" %></br>
  	
	</td>

</tr>
</table>
<%= submit_tag 'Update' %>

<% unless @display_setting == 0%>
	<br></br>
	<h4>Submitted/Pending Timesheets</h4>
	<table>
		<tr>
			<th>Time of Submission</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Edit</th>
			<th>Resubmit</th>
			<th>Print</th>
			<th>Decorate!</th> <!--just for fun-->
		</tr>

		<% for submitted_ts in @submitted_ts %>
		<tr>
			<td><%=h submitted_ts.submitted %></td>
			<td><%=h submitted_ts.weekof.strftime("%D") %></td>
			<td><%= link_to 'Edit', {:action => 'edit'} %></td>
			<td>Coming soon!</td>
			<td><%= link_to 'Print', {:action => 'print'} %></td>
			<td>Coming soon!</td>
		</tr>
		<%end%>
	</table>

	<br></br>
	<h4>Submitted/Paid Timesheets</h4>
	<table>
		<tr>
			<th>Date Approved/Paid</th>
			<th>Week</th>
			<th>Total Hours</th>
			<th>Print</th>
		</tr>

		<% for paid_ts in @paid_ts %>
		<tr>
			<td><%=h paid_ts.paid.strftime("%D") %></td>
			<td><%=h paid_ts.weekof.strftime("%D") %></td>
			<td><%= link_to 'Print', {:action => 'print'} %></td>
		</tr>
		<%end%>
	</table>
<%end%>