<%= form_tag({:controller => "booking", :action => "index"}, :method => "post", :class => "nifty_form") %>

<div id="skillbar">
<table>
<tr class="skillcats">
<% @skillcats.each do |skillcat| %>
<td class="skillcat">
  <p class="skillcat_name"><%= skillcat.name %></p>
  <% skillcat.skills.each do |skill| %>
	<p class="skill"><%= check_box_tag 'skill_ids[]', skill.id, @filter.include?(skill.id.to_s) %><%= label_tag skill.name %></p>
  <% end %>
</td>
<% end %>
</tr>
</table>
</div>

<%= submit_tag 'Update' %>
