<% @selshifts.sort_by(&:start_time).each do |shift| %>
<p>
	<h3><%= shift.assigned_to.firstname %> <%= shift.assigned_to.lastname %></h3><strong><%= shift.start_date.strftime('%A, %B %d')%></strong>
    <table>
      <% shift.open_slots.sort_by(&:start_time).each do |slot| %>
  		  <tr><td><%= slot.start_time.strftime('%l:%M %P') %></td><td><%= link_to 'Book Timeslot...', {:action => 'new', :timeslot_id => slot[:id]} %><td></tr>
	  <% end %>
	</table>
</p>
<% end %>