<%= render 'manage/nav'%>
<h2>DMC Lab Coach Signup</h2>
<p>To sign up for 1/2 hour of tutoring with <%= @timeslot.issue.assigned_to.firstname %> on <%= @timeslot.start_time.strftime('%A, %B %d at %I:%M %p') %>, please complete the form below.</p>
<br>


<%= render 'form' %>
<%= render 'manage/orphre' %>