- skills.each do |skill|
  - if !skill.name.nil?
    %p
      = check_box_tag 'skill_id[]',skill.id
      = skill.name
      - unless skill.auth?
        = select_tag 'levels[]', options_for_select((1..3).map {|l| [l,l] })
      - else
        = hidden_field_tag 'levels[]', 1
      = hidden_field_tag 'skill_order[]', skill.id
    %p
