<h1>Skill Levels</h1>

<%= render 'form' %>
<br>
<% @users.each do |user| %>
  <h2><%= user.firstname %></h2>
  <ul>
  <% user.levels.each do |level| %>
    <li><%= level.skill.name %> : <%= render 'form_update', :level => level %> <%= button_to 'Delete', {:action => 'delete', :id => level}, :confirm => "Really?" %></li>
  <%end%>
</ul>
<%end%>
