<%= render 'nav/nav' %>
<h1>Skill Levels</h1>
<% if !@goals.empty? %>
  <h4>Completed Training Goals Awaiting Signoff:</h4>
  <table>
    <tr>
      <th>StuStaff</th>
      <th>ProStaff</th>
      <th>Description</th>
      <th>Assigned</th>
    </tr>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.assigned_to.name %></td>
        <td><%= goal.author.name %></td>
        <td><%= link_to goal.subject, goal %></td>
        <td><%= goal.created_on.strftime("%D") %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>Assign Level:</h2>
<%= render 'form' %>
<br>
<% @users.each do |user| %>
  <h2><%= user.firstname %></h2>
  <table>
    <tr><th>Skill</th><th></th><th></th></tr>
    <% user.levels.each do |level| %>
      <tr><td><%= level.skill.name %></td><td><%= render 'form_update', :level => level %></td><td><%= button_to 'Delete', {:action => 'delete', :id => level}, :confirm => "Really?" %></td></tr>
    <%end%>
  </table>
<%end%>

<br/>
