<table>
	<tr>
		<th>
			<%= link_to 'Name', {:action => 'delete', :sort => 'by_name'} %></th>
		<th>
			<%= link_to 'Pay Rate', {:action => 'delete', :sort => 'by_wage'} %></th>
		<th>
			<%= link_to 'Time Entries', {:action => 'delete', :sort => 'by_entries'} %> </th>

	</tr>
	<th>
		<% @timesheet.each do |t| %>
			<tr>
				<td><%= User.find(t.user_id).firstname %></td>
				<td><%= User.find(t.user_id).wage.amount %></td>
			</tr>
		<%end%>
</table>