<table>
  <tr>
    <% unless User.current.admin %>
      <% if User.current.is_stustaff? %>
        <td><%= link_to "Today's Shifts", {:controller=> 'manage', :action => 'today'} %></td>
        <td><%= link_to 'Employee Timesheet View', {:controller => 'timesheets', :action => 'employee_index'} %></td>
      <% end %>
      <% if User.current.is_prostaff? %>
        <td><%= link_to "Analyze Time", {:controller=> 'command', :action => 'index'} %></td>
      <% end %>
      <% if User.current.is_manager? %>
        <td><%= link_to 'Administrator Timesheet View', {:controller => 'timesheets', :action => 'admin_index'} %></td>
        <td><%= link_to 'Skill Levels', {:controller => 'levels', :action => 'index'} %></td>
      <% end %>
    <% else %>
      <td><%= link_to "Today's Shifts", {:controller=> 'manage', :action => 'today'} %></td>
      <td><%= link_to 'Employee Timesheet View', {:controller => 'timesheets', :action => 'employee_index'} %></td>
      <td><%= link_to "Analyze Time", {:controller=> 'command', :action => 'index'} %></td>
      <td><%= link_to 'Administrator Timesheet View', {:controller => 'timesheets', :action => 'admin_index'} %></td>
      <td><%= link_to 'Skill Levels', {:controller => 'levels', :action => 'index'} %></td>
    <% end %>
  </tr>
</table>
