%li= link_to "Today's Shifts", {:controller => 'stustaff'}
%li= link_to 'Book Student Time', { :controller => 'timeslots', :action => 'find' }
%li= link_to 'Manage Bookings', { :controller => 'bookings', :action => 'index' }
%li= link_to 'Timesheets', { :controller => 'timesheets' }
%li= link_to 'New Timesheet', { :controller => 'timesheets', :action => 'new' }
%li= link_to 'My Skills', { :controller => 'levels', :action => 'my_levels' }
